<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ຊື່ລາຍການ</th>
      <th>ວັນທີ</th>
      <th class="amount">ຈຳນວນເງິນ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inv of invList; let i = index" [ngClass]="{'cancel': inv.status === 0}">
      <td>{{invList.length - i}}</td>
      <td>{{inv?.category?.name}}</td>
      <td class="date">{{inv.createdAt | date:"dd/MM/yyyy hh:mm"}}</td>
      <td class="amount piad" [ngClass]="{'act-amount': inv.type === 1}">{{inv.price | number}}</td>
    </tr>
  </tbody>
</table>
