table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  th {
    height: 40px;
    padding: 0 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #04AA6D;
    color: white;
    font-weight: 500;
  }
  td{
    color: #505050;
    border-bottom: 1px solid #ddd;
    padding: 0 8px;
    height: 40px;
  }
  tr:nth-child(even){background-color: #f8f8f8;}
  .amount{
    text-align: right;
  }
  .piad{
    color: #ED5367;
  }
  .act-amount{
    color: #04AA6D;
  }
  .date{
    color: #7D7D7D;
    font-size: 12px;
  }
}
