<ion-header>
  <ion-toolbar>
    <ion-segment value="categories">
      <ion-segment-button value="categories" (click)="cateTab = true">
        <ion-label>Categories</ion-label>
      </ion-segment-button>
      <ion-segment-button value="amount" (click)="cateTab = false">
        <ion-label>Amount</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="cateTab">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th class="des">ລາຍການ</th>
          <th class="action">ແກ້ໄຂ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]; let i = index">
          <td>{{i + 1}}</td>
          <td class="des">ຜັກ</td>
          <td class="action">
            <ion-button shape="round" fill="clear" size="small">
              <ion-icon name="open-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="!cateTab">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item lines="full" class="tb-head">
        <ion-label>ຈຳນວນເງິນ</ion-label>
        <ion-label slot="end">ແກ້ໄຂ</ion-label>
      </ion-item>

      <ion-reorder *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]">
        <ion-item lines="full">
          <ion-label>20,000</ion-label>
          <ion-button shape="round" fill="clear" size="small" slot="end">
            <ion-icon name="open-outline" class="i-icon"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group>
  </ng-container>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="addFunc()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
