<!-- <ion-header>
  <ion-toolbar>
    <ion-segment value="invoice">
      <ion-segment-button value="invoice" (click)="cateTab = false">
        <ion-label>Invoices</ion-label>
      </ion-segment-button>
      <ion-segment-button value="categories" (click)="cateTab = true">
        <ion-label>Categories</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input label="ຄົ້ນຫາ" label-placement="stacked" fill="outline" type="text" placeholder="ປ້ອນຊື່..." [(ngModel)]="kw" (ngModelChange)="searchFunc(kw)"></ion-input>
  <br>
  <!-- <ng-container *ngIf="!cateTab">
    <h1>Hello world</h1>
  </ng-container> -->

  <!-- <ng-container *ngIf="cateTab"> -->
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th class="des">ລາຍການ</th>
          <th class="action">ແກ້ໄຂ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of categoryList; let i = index">
          <td>{{categoryList.length - i}}</td>
          <td class="des">{{cate.name}}</td>
          <td class="action">
            <ion-button shape="round" fill="clear" size="small" (click)="addFunc(cate._id, cate.name, false)">
              <ion-icon name="open-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  <!-- </ng-container> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="addFunc('', '', true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-spinner></app-spinner>
