<!-- <app-header title="Payment"></app-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-list> -->
    <div class="cate-wrap">
      <ion-input label="ລາຍການ" label-placement="stacked" fill="outline" placeholder="-" (click)="show()" [value]="cateName" [disabled]="showList"></ion-input>

        <div class="search" *ngIf="showList">
          <ion-input label="ລາຍການ" label-placement="stacked" fill="outline" placeholder="-" clearInput="true" (click)="showFunc()" [(ngModel)]="cateName" (ngModelChange)="searchFunc()" #cateInput></ion-input>
          <ng-container *ngIf="showList && searchList.length > 0">
          <div class="list-wrap">
            <p *ngFor="let cate of searchList" (click)="selectCate(cate.name)">{{cate.name}}</p>
          </div>
          </ng-container>
        </div>
        <ng-container *ngIf="showList && searchList.length > 0">
          <div class="back-g" (click)="showList = false"></div>
        </ng-container>
    </div>
    <br />
    <ion-input label="ຈຳນວນເງິນ" label-placement="stacked" fill="outline" type="number" [(ngModel)]="amount"></ion-input>
  <!-- </ion-list> -->

  <div class="price-wrap">
    <ion-button fill="outline" *ngFor="let amount of vm.amountList" (click)="selectAmount(amount?.amount)">{{amount?.amount}}</ion-button>
  </div>
  <br />
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ຊື່ລາຍການ</th>
        <!-- <th>ວັນທີ</th> -->
        <th class="amount">ຈຳນວນເງິນ</th>
        <th class="action">ແກ້ໄຂ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inv of invList; let i = index" [ngClass]="{'cancel': inv.status === 0}">
        <td>{{invList.length - i}}</td>
        <td>{{inv?.category?.name}}</td>
        <!-- <td class="date">{{inv.createdAt | date:"dd/MM/yyyy hh:mm"}}</td> -->
        <td class="amount piad" [ngClass]="{'act-amount': inv.type === 1}">{{inv.price | number}}</td>
        <td class="action">
          <ion-button shape="round" fill="clear" size="small" (click)="cancelFunc(inv._id)" [disabled]="inv.status === 0">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="sum">
      <ion-item lines="none">
        <label>ໃຊ້ຈ່າຍ</label>
        <ion-label slot="end" color="danger">{{paidTotal | number}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <label>ໄດ້ຮັບ</label>
        <ion-label slot="end" color="success">{{receiveTotal | number}}</ion-label>
      </ion-item>
    </div>
    <div class="btn-wrap">
      <ion-buttons slot="start">
        <ion-button fill="solid" color="success" (click)="saveFunc(1)">Receive</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button fill="solid" color="danger" (click)="saveFunc(0)">Pay</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
<app-spinner></app-spinner>
